<html ng-app="contactApp">

<head>
<title>Contact App</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
<script src="app.js"></script>
<script src="app_service.js"></script>
<script src="app_consvc.js"></script>
<script src="app_ctrl.js"></script>
<script src="app_data.js"></script>
</head>

<body>
	<div class="container" ng-controller="headerCtrl as head">
	<h1>{{head.title}}</h1>
	</div>

	<div class="container" ng-controller="contactCtrl as ctrl">
		<div class="row">
		<div class="col-md-6">
		<div ng-repeat="contact in ctrl.contact">
			<ul class="list-group">
			<li class="list-group-item" ng-click="ctrl.selectedContactx($index)">{{contact.name.first}} {{contact.name.last}}</li> 
			</ul>
		</div>
		</div>
		<div class="col-md-6">
			<div class="alert alert-success" ng-if="ctrl.successMsg">{{ctrl.successMsg}}</div>
			<div class="alert alert-danger" ng-if="ctrl.errorMsg">{{ctrl.errorMsg}}</div>
			<div class="media">
			  <div class="media-left">
			    <a href="#">
			      <img ng-src="{{ctrl.selectedContact.picture.medium}}" >	
			    </a>
			  </div>
			  <div class="media-body">
			    <h2>edit frame</h2>	
			    <h4 class="media-heading">{{ctrl.selectedContact.name.first}} {{ctrl.selectedContact.name.last}}</h4>
			    <button ng-hide="ctrl.editMode" ng-click="ctrl.toggleEditMode()" >Edit</button>
			    <button ng-show="ctrl.editMode" ng-click="ctrl.saveUser()" >Save</button>
			    <p><h6>Location</h6></p>
			    	<p>Street:
					<span ng-hide="ctrl.editMode">{{ctrl.selectedContact.location.street}}</span>
					<input type="text" ng-show="ctrl.editMode" ng-model="ctrl.selectedContact.location.street"><input>
				</p>
			    	<p>City:	
					<span>{{ctrl.selectedContact.location.city}}</span>
				</p>
			    	<p>State: 
					<span>{{ctrl.selectedContact.location.state}}</span>
				</p>
			    	<p>Phone: 
					<span>{{ctrl.selectedContact.phone}}</span>
				</p>
			  </div>
			</div>
		</div>
		</div>
	</div>

	<div class="container" ng-controller="footerCtrl as foot">
	<h1>{{foot.title}} </h1>
	</div>

</body>
</html>
